*{
    margin:0;
    padding:0;
}

header{
    text-align: center;
    padding-top: 20px;
    margin-top: -550px;
    align-items: center;
    padding-left: 10px;
    place-items: center;
}

body{
    background-color: rgb(196, 202, 202);
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main{
    display:grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'

    ;
    gap: 15px;
    text-align: center;
    margin: auto;
    width:50%;
}

main div{
    padding: 2em;
    text-align: center;
}

.item-a{
    background-color: rgb(202, 17, 17);
    grid-area: a;
    padding: 100px;
}

.item-b{
    background-color:orange;
    grid-area: b;
}

.item-c{
    background-color: green;
    grid-area: c;
    padding: 120px;
}

.item-d{
    background-color: blue;
    grid-area: d;
    padding: 50px;
}

.item-e{
    background-color: blue;
    grid-area: e;
    padding: 50px;
}